.bfp-file-name,.bfp-file-url{width:100% !important;}
#bfp_woocommerce_metabox .widefat{border:0;}
.bfp-tooltip{position:relative;display:inline-block;}
.bfp-tooltip .bfp-tooltiptext{visibility:hidden;width:240px;background-color:#555;color:#fff;text-align:center;padding:5px;border-radius:6px;position:absolute;z-index:9999;bottom:125%;left:50%;margin-left:-120px;opacity:0;transition:opacity 1s;}
.bfp-tooltip .bfp-tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-10px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent;}
.bfp-tooltip:hover .bfp-tooltiptext{visibility:visible;opacity:1;}
.bfp-highlight-box{border:1px solid #E6DB55;margin-bottom:10px;padding:5px;background-color: #FFFFE0;}
#bfp_tips_body,.bfp-tip-text{display:none;}
.cp-blink-me {animation: cp_blinker 2s linear infinite;text-transform: uppercase;}
@keyframes cp_blinker{50% {opacity: 0;}}

/* PRODUCTS LIST */
table.wp-list-table.fixed{table-layout:auto;}
.column-bfp_playback_counter{ white-space:nowrap; }
.column-bfp_playback_counter>a{ display:flex !important;}
.bfp-playback-counter{display:block;text-align:center;}

/* LOADING ANIMATION */

.bfp-skin-generate-btn,
.bfp-skin-preview-btn{display:flex;flex-direction:row;align-items:center;}
.bfp-skin-generate-btn:disabled::after,
.bfp-skin-preview-btn:disabled::after{
	content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-top: 2px solid #999999;
    border-radius: 50%;
    animation: bfp-spin 1s linear infinite;
    margin: 0 0 0 10px;
}

@keyframes bfp-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}